@model MVCDemo.Models.ClearModel

<h3>Are you sure you want to do this?</h3>
<div>
    @using (Html.BeginForm("index", null, FormMethod.Post)) {
        @Html.AntiForgeryToken()
        <div class="">
            @*@Html.ActionLink("No!", "Cancel", null, htmlAttributes: new { @class = "btn-default" })*@
            <a clsss="btn btn-default" href="/Clear/Cancel">No</a>
            <input type="submit" class="btn btn-warning" value="Yes" />
        </div>
    }
</div>
