@{
    ViewBag.Title = "Demo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Demonstrates Responsive SSPL Web App with secure modal CRUD operations.</p> 
<p>Built with ASP.NET / MVC / Entity Framework / Model First / Boostrap</p>
