@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Responsive web app with secure Create Read Update Delete (CRUD) operations in bootstrap modal popups.</p> 
<p/>
<p>Built by MDC Solutions LLC Fountain Valley CA</p>
<p>Built with ASP.NET / MVC / Entity Framework / Boostrap / WebGrid / jQuery</p>

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/Client/Scripts/modal.js")
}
