@{
    ViewBag.Title = "Demo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Responsive Web App with secure CRUD operations bootstrap &amp; modal popups.</p> 
<p/>
<p>Built with ASP.NET / MVC / Entity Framework / Boostrap</p>
